.App {
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-cart {
  width: 100%;
  display: flex;
  margin: 0 0 10px 0;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 426px) {
  .container-cart {
    width: 100%;
    display: flex;
    margin: 0 0 10px 0;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .container-cart {
    width: 70%;
    display: flex;
    margin: 0 0 10px 0;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container-cart {
    width: 70%;
    height: 245px;
    display: flex;
    margin: 0 0 10px 0;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
    overflow-x: scroll;
  }
}
