.container-cartItem {
  width: 95%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background: #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 8px;
}

@media screen and (min-width: 1024px) {
  .container-cartItem {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background: #f5f5f5;
    border-radius: 0px 0px 5px 5px;
    padding: 10px 8px;
  }
}

.cartImage img {
  width: 70px;
  height: 70px;
  background: #e0e0e0;
  border-radius: 5px;
}

.cartInfo {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cartName {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #333333;
  margin: 0;
}

.cartCategory {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #828282;
}

.containerBtn {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.cartBtn {
  border: none;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #bdbdbd;
  cursor: pointer;
  transition: 145ms;
}

.cartBtn:hover {
  text-decoration-line: underline;
}
