.main-about {
  display: flex;

  background-color: #fff;

  font-family: sans-serif;
  font-style: normal;
}

.content-container {
  width: 140%;

  margin-bottom: 50px;
}

.title {
  margin: 0 0 50px 0;
  padding-top: 30px;

  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.content,
.content-list {
  width: 60%;

  margin: 0 auto;

  color: #000;

  text-align: justify;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.content-list {
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.content-item {
  display: flex;
}

.content-item::marker {
  color: #000;
}

.content-link {
  padding: 0 0 0 6px;
  margin: 0;

  font-family: sans-serif;
  font-size: 18px;
  color: blue;
  text-decoration: none;
}

.content-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .main-about {
    width: 90%;

    flex-direction: column;

    margin: 0 auto;
  }

  .content-container {
    width: 100%;

    margin-top: 20px;
  }

  .title {
    font-size: 25px;

    margin-bottom: 30px;
  }

  .content {
    width: 100%;

    margin: 0 auto;
  }

  .content-list {
    width: 100%;

    padding: 0;
  }
}
